#splash {
  font-family: Courier, monospace;
  font-size: 16px;

  height: 100%;
  width: 100%;
  &:extend(.middle-position all);
  text-align: center;

  &>div{
    display: inline-block;

  &>h1 {
    font-size: 32px;
     margin: 0;
    margin-bottom: 12px;
      text-shadow:
              -2px 0 0 #000,
                0 -2px 0 #000,
              0  2px 0 #000,
              2px  0 0 #000,
                -1px -1px 1px #000,
                1px -1px 1px #000,
              -1px  1px 1px #000,
              1px  1px 1px #000;
    }


    &>div {
      margin-top: 12px;
      text-shadow:
              -1px 0 0 #000,
                0 -1px 0 #000,
              0  1px 0 #000,
              1px  0 0 #000,
                -1px -1px 1px #000,
                1px -1px 1px #000,
              -1px  1px 1px #000,
              1px  1px 1px #000;
    }
  }
}